<header>
    <input type="text" [(ngModel)]="filterText">
</header>
<section>
  <ul class="comicGrid">
    <li *ngFor="let comic of listaComics | filter:filterText; let i = index;" class="comicElement">
        <img src="{{comic.thumbnail.path}}.jpg" alt="" class="comicImg">
        <div class="infoComic">
          <h4 class="nombreComic">{{comic.title}}</h4>
          <div class="votosComic">
            <h4>{{likeComics[i]}}</h4>
            <button (click)="gestionarLike(i, true)">
              <img src="../../assets/img/arrow-up.png">
            </button>
            <button (click)="gestionarLike(i, false)">
              <img src="../../assets/img/arrow-down.png">
            </button>
          </div>
        </div>
    </li>
  </ul>
</section>