@import '../../assets/scss/variables.scss';
@import '../../assets/scss/responsive.scss';

.comicGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 100%;
    background-color: #ddd;
    @include medium {
        grid-template-columns: repeat(2, 1fr);
    }
    @include large {
        grid-template-columns: repeat(4, 1fr);
    }
    .comicElement {
        width: 100%;
        height: 100%;
    }
    .comicImg {
        object-fit: cover;
        width: 100%;
        height: 80%;
    }
    .infoComic{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .votosComic{
            text-align: center;
            button{
                background-color: transparent;
                border: 0;
            }
            button:hover{
                cursor: pointer;
            }
            button:active{
                    transform: perspective(600px) translateZ(-75px) rotateZ(-0.5deg) rotateX(-10deg);
            }
            button:focus{
                outline: 0;
            }
        }
    }
}